<!DOCTYPE html>
<html lang="en">

<head>
	<!--meta tags-->
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
	<meta name="robots" content="noindex, nofollow">
	<!--favicon-->
	<link rel="icon" href="assets/images/favicon.png" type="image/png">
	<!--css-->
	<link href="assets/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
	<link href="assets/lib/bootstrap/bootstrap.min.css" rel="stylesheet" id="bootstrap">
	<link href="assets/css/main.css" rel="stylesheet">

	<title>WinDash Admin Dashboard Bootstrap Template</title>
</head>

<body>
	<!--preloader-->
	<div class="preloader"></div>
	<!-- wrapper -->
	<div class="main-wrapper">
		<div class="error-404 d-flex align-items-center justify-content-center">
			<div class="container">
				<div class="card py-4">
					<div class="row g-0">
						<div class="col col-xl-6 mx-auto">
							<div class="card-body p-4 text-center">
								<h1><span class="text-primary">4</span><span class="text-danger">0</span><span class="text-primary">4</span></h1>
								<h2>Lost in Space</h2>
								<p>The page you were looking for could not be found.</p>
								<div class="mt-5"> <a href="index.html" class="btn btn-primary btn-lg px-md-5 radius-30">Go Home</a>
									<a href="index.html" class="btn btn-outline-dark btn-lg ms-3 px-md-5 radius-30">Back</a>
								</div>
							</div>
						</div>
					</div>
					<!--end row-->
				</div>
			</div>
		</div>
	</div>

	
	<!--JS -->
	<script src="assets/lib/jquery/jquery.min.js"></script>
	<script src="assets/lib/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="assets/lib/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<script src="assets/js/main.js"></script>
</body>

</html>
