<!DOCTYPE html>
<html lang="en">

<head>
	<!--meta tags-->
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
	<meta name="robots" content="noindex, nofollow">
	<!--favicon-->
	<link rel="icon" href="assets/images/favicon.png" type="image/png" >
	<!--css-->
	<link href="assets/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
	<link href="assets/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="assets/css/main.css" rel="stylesheet">

	<title>WinDash Admin Dashboard Bootstrap Template</title>
</head>

<body>
	<!--preloader-->
	<div class="preloader"></div>
	<!--main wrapper start-->
	<div class="main-wrapper">
		<div class="auth-area d-flex align-items-center justify-content-center my-5 my-lg-0">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-6 col-lg-4 mx-auto">
						<div class="card">
							<div class="card-body">
								<div class="p-3">
									<div class="mb-3 text-center">
										<img src="assets/images/logo-img.png" width="150" alt="logo" >
									</div>
									<div class="text-center mb-4">
										<h5 class="">Reset Password</h5>
										<p class="mb-0">Enter Your New Password</p>
									</div>
									<div class="form-body">
										<form class="row g-3">
											<div class="col-12">
												<label for="newpassword" class="form-label">New Password</label>
												<div class="input-group">
													<input type="password" class="form-control" id="newpassword">
												</div>
											</div>
											<div class="col-12">
												<label for="confirmpassword" class="form-label">Confirm Password</label>
												<div class="input-group">
													<input type="password" class="form-control" id="confirmpassword">
												</div>
											</div>
											<div class="col-12">
												<button type="submit" class="btn btn-primary w-100">Reset Password</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end row-->
			</div>
		</div>
	</div>
	<!--main wrapper end-->

	<!--JavaScript-->
	<script src="assets/lib/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="assets/lib/jquery/jquery.min.js"></script>
	<script src="assets/lib/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<script src="assets/js/main.js"></script>
</body>

</html>
