<!DOCTYPE html>
<html lang="en">

<head>
	<!--meta tags-->
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
	<meta name="robots" content="noindex, nofollow">
	<!--favicon-->
	<link rel="icon" href="assets/images/favicon.png" type="image/png">
	<!--css-->
	<link href="assets/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
	<link href="assets/lib/metismenu/css/metisMenu.min.css" rel="stylesheet">
	<link href="assets/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="assets/css/main.css" rel="stylesheet">

	<title>WinDash Admin Dashboard Bootstrap Template</title>
</head>

<body>
	<!--preloader-->
	<div class="preloader"></div>
	<!--main wrapper start-->
	<div class="main-wrapper">
		<!--sidebar start -->
		<div class="sidebar">
			<div class="sidebar-header">
				<div>
					<img src="assets/images/logo-img.png" class="logo" alt="logo" height="35">
					<img src="assets/images/logo-icon.png" class="logo-icon" alt="logo" height="35">
				</div>
				<div class="sidebar-toggle-icon ms-auto"><i class="fa fa-bars"></i>
				</div>
			</div>
			<!--navigation start-->
			<ul class="metismenu" id="menu">
				<li>
					<a href="index.html">
						<div class="icon"><i class="fas fa-house"></i>
						</div>
						<div class="title">Dashboard</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" class="has-arrow">
						<div class="icon"><i class="fa fa-layer-group"></i>
						</div>
						<div class="title">Layout</div>
					</a>
					<ul>
						<li> <a href="blank.html"><i class="fa fa-minus"></i>Blank</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0);" class="has-arrow">
						<div class="icon"><i class="fab fa-product-hunt"></i>
						</div>
						<div class="title">App</div>
					</a>
					<ul>
						<li> <a href="app-email.html"><i class="fa fa-minus"></i>Email</a>
						</li>
						<li> <a href="app-chat.html"><i class="fa fa-minus"></i>Chat</a>
						</li>
						<li> <a href="app-file-manager.html"><i class="fa fa-minus"></i>File Manager</a>
						</li>
						<li> <a href="app-contact-list.html"><i class="fa fa-minus"></i>Contatcs</a>
						</li>
						<li> <a href="app-to-do.html"><i class="fa fa-minus"></i>Todo List</a>
						</li>
						<li> <a href="app-bookmarks.html"><i class="fa fa-minus"></i>Bookmarks</a>
						</li>
						<li> <a href="app-fullcalender.html"><i class="fa fa-minus"></i>Calendar</a>
						</li>
					</ul>
				</li>
				<li class="menu-label">UI Elements</li>
				<li>
					<a href="widgets.html">
						<div class="icon"><i class="fas fa-cookie"></i>
						</div>
						<div class="title">Widgets</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" class="has-arrow">
						<div class="icon"><i class="fas fa-cart-shopping"></i>
						</div>
						<div class="title">eCommerce</div>
					</a>
					<ul>
						<li> <a href="products.html"><i class="fa fa-minus"></i>Products</a>
						</li>
						<li> <a href="products-details.html"><i class="fa fa-minus"></i>Product
								Details</a>
						</li>
						<li> <a href="add-new-products.html"><i class="fa fa-minus"></i>Add New
								Products</a>
						</li>
						<li> <a href="orders.html"><i class="fa fa-minus"></i>Orders</a>
						</li>
						<li> <a href="invoice.html"><i class="fa fa-minus"></i>Invoice</a>
						</li>
						<li> <a href="cart.html"><i class="fa fa-minus"></i>Cart</a>
						</li>
						<li> <a href="wishlist.html"><i class="fa fa-minus"></i>Wishlist</a>
						</li>
						<li> <a href="checkout.html"><i class="fa fa-minus"></i>Checkout</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="has-arrow" href="javascript:void(0);">
						<div class="icon"><i class="fa fa-heart"></i>
						</div>
						<div class="title">Components</div>
					</a>
					<ul>
						<li> <a href="alerts.html"><i class="fa fa-minus"></i>Alerts</a>
						</li>
						<li> <a href="accordions.html"><i class="fa fa-minus"></i>Accordions</a>
						</li>
						<li> <a href="badges.html"><i class="fa fa-minus"></i>Badges</a>
						</li>
						<li> <a href="buttons.html"><i class="fa fa-minus"></i>Buttons</a>
						</li>
						<li> <a href="breadcrumbs.html"><i class="fa fa-minus"></i>Breadcrumbs</a>
						</li>
						<li> <a href="cards.html"><i class="fa fa-minus"></i>Cards</a>
						</li>
						<li> <a href="carousels.html"><i class="fa fa-minus"></i>Carousels</a>
						</li>
						<li> <a href="list-groups.html"><i class="fa fa-minus"></i>List Groups</a>
						</li>
						<li> <a href="media-object.html"><i class="fa fa-minus"></i>Media Objects</a>
						</li>
						<li> <a href="modals.html"><i class="fa fa-minus"></i>Modals</a>
						</li>
						<li> <a href="navs-tabs.html"><i class="fa fa-minus"></i>Navs And Tabs</a>
						</li>
						<li> <a href="navbar.html"><i class="fa fa-minus"></i>Navbar</a>
						</li>
						<li> <a href="paginations.html"><i class="fa fa-minus"></i>Pagination</a>
						</li>
						<li> <a href="popovers-tooltips.html"><i class="fa fa-minus"></i>Popovers And
								Tooltips</a>
						</li>
						<li> <a href="progress-bars.html"><i class="fa fa-minus"></i>Progress</a>
						</li>
						<li> <a href="spinners.html"><i class="fa fa-minus"></i>Spinners</a>
						</li>
						<li> <a href="notifications.html"><i class="fa fa-minus"></i>Notifications</a>
						</li>
						<li> <a href="sweet-alerts.html"><i class="fa fa-minus"></i>Sweet Alerts</a>
						</li>
						<li> <a href="avtars-chips.html"><i class="fa fa-minus"></i>Avatrs And Chips</a>
						</li>
						<li> <a href="grid-system.html"><i class="fa fa-minus"></i>Grid System</a>
						</li>
						<li> <a href="typography.html"><i class="fa fa-minus"></i>Typography</a>
						</li>
						<li> <a href="text-utilities.html"><i class="fa fa-minus"></i>Text Utilities</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="has-arrow" href="javascript:void(0);">
						<div class="icon"> <i class="fa fa-font-awesome"></i>
						</div>
						<div class="title">Icons</div>
					</a>
					<ul>
						<li> <a href="font-awesome-icons.html"><i class="fa fa-minus"></i>Font Awesome</a>
						</li>
					</ul>
				</li>
				<li class="menu-label">Forms And Tables</li>
				<li>
					<a class="has-arrow" href="javascript:void(0);">
						<div class="icon"><i class="fab fa-wpforms"></i>
						</div>
						<div class="title">Forms</div>
					</a>
					<ul>
						<li> <a href="form-elements.html"><i class="fa fa-minus"></i>Form Elements</a>
						</li>
						<li> <a href="form-input-group.html"><i class="fa fa-minus"></i>Input Groups</a>
						</li>
						<li> <a href="form-radios-and-checkboxes.html"><i class="fa fa-minus"></i>Radios And
								Checkboxes</a>
						</li>
						<li> <a href="form-layouts.html"><i class="fa fa-minus"></i>Forms Layouts</a>
						</li>
						<li> <a href="form-validations.html"><i class="fa fa-minus"></i>Form Validation</a>
						</li>
						<li> <a href="form-wizard.html"><i class="fa fa-minus"></i>Form Wizard</a>
						</li>
						<li> <a href="form-text-editor.html"><i class="fa fa-minus"></i>Text Editor</a>
						</li>
						<li> <a href="form-file-upload.html"><i class="fa fa-minus"></i>File Upload</a>
						</li>
						<li> <a href="form-date-time-pickes.html"><i class="fa fa-minus"></i>Date Pickers</a>
						</li>
						<li> <a href="form-select2.html"><i class="fa fa-minus"></i>Select2</a>
						</li>
						<li> <a href="form-repeater.html"><i class="fa fa-minus"></i>Form Repeater</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="has-arrow" href="javascript:void(0);">
						<div class="icon"><i class="fas fa-table"></i>
						</div>
						<div class="title">Tables</div>
					</a>
					<ul>
						<li> <a href="basic-table.html"><i class="fa fa-minus"></i>Basic Table</a>
						</li>
						<li> <a href="datatable.html"><i class="fa fa-minus"></i>Data Table</a>
						</li>
					</ul>
				</li>
				<li class="menu-label">Pages</li>
				<li>
					<a class="has-arrow" href="javascript:void(0);">
						<div class="icon"><i class="fas fa-pager"></i>
						</div>
						<div class="title">Pages</div>
					</a>
					<ul>
						<li><a href="user-profile.html"><i class="fa fa-minus"></i>User Profile</a></li>
						<li><a href="faqs.html"><i class="fa fa-minus"></i>Faqs</a></li>
						<li><a href="pricing.html"><i class="fa fa-minus"></i>Pricing</a></li>
						<li><a href="timeline.html"><i class="fa fa-minus"></i>Timeline</a></li>
					</ul>
				</li>
				<li>
					<a class="has-arrow" href="javascript:void(0);">
						<div class="icon"><i class="fas fa-anchor"></i>
						</div>
						<div class="title">Authentication</div>
					</a>
					<ul>
						<li><a href="auth-login.html"><i class="fa fa-minus"></i>Login</a></li>
						<li><a href="auth-register.html"><i class="fa fa-minus"></i>Register</a></li>
						<li><a href="auth-forgot-password.html"><i class="fa fa-minus"></i>Forgot Password</a>
						</li>
						<li><a href="auth-reset-password.html"><i class="fa fa-minus"></i>Reset Password</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="has-arrow" href="javascript:void(0);">
						<div class="icon"><i class="fas fa-circle-exclamation"></i>
						</div>
						<div class="title">Errors</div>
					</a>
					<ul>
						<li> <a href="404-error.html"><i class="fa fa-minus"></i>404 Error</a>
						</li>
						<li> <a href="500-error.html"><i class="fa fa-minus"></i>500 Error</a>
						</li>
						<li> <a href="coming-soon.html"><i class="fa fa-minus"></i>Coming Soon</a>
						</li>
					</ul>
				</li>
				<li class="menu-label">Charts And Maps</li>
				<li>
					<a class="has-arrow" href="javascript:void(0);">
						<div class="icon"><i class="fas fa-chart-pie"></i>
						</div>
						<div class="title">Charts</div>
					</a>
					<ul>
						<li> <a href="apex-chart.html"><i class="fa fa-minus"></i>Apex</a>
						</li>
						<li> <a href="chartjs.html"><i class="fa fa-minus"></i>Chartjs</a>
						</li>
						<li> <a href="highcharts.html"><i class="fa fa-minus"></i>Highcharts</a>
						</li>
					</ul>
				</li>
				<li>
					<a class="has-arrow" href="javascript:void(0);">
						<div class="icon"><i class="fas fa-map"></i>
						</div>
						<div class="title">Maps</div>
					</a>
					<ul>
						<li> <a href="google-maps.html"><i class="fa fa-minus"></i>Google Maps</a>
						</li>
						<li> <a href="vector-maps.html"><i class="fa fa-minus"></i>Vector Maps</a>
						</li>
					</ul>
				</li>
				<li class="menu-label">Others</li>
				<li>
					<a class="has-arrow" href="javascript:void(0);">
						<div class="icon"><i class="fas fa-ellipsis"></i>
						</div>
						<div class="title">Menu Levels</div>
					</a>
					<ul>
						<li> <a class="has-arrow" href="javascript:void(0);"><i class="fa fa-minus"></i>Level
								One</a>
							<ul>
								<li> <a class="has-arrow" href="javascript:void(0);"><i
											class="fas fa-chevron-right"></i>Level Two</a>
									<ul>
										<li> <a href="javascript:void(0);"><i class="fa fa-minus"></i>Level
												Three</a> </li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			<!--navigation end-->
		</div>
		<!--sidebar end -->

		<!--header top start-->
		<header>
			<div class="topbar">
				<nav class="navbar navbar-expand">
					<div class="mobile-toggle-menu"><i class="fas fa-bars"></i>
					</div>
					<div class="search-bar">
						<div class="position-relative search-bar-box">
							<input type="text" class="form-control search-control" placeholder="searchproduct">
							<span class="search-show position-absolute top-50  translate-middle-y"><i
									class="fas fa-magnifying-glass"></i></span>
							<span class="search-close position-absolute top-50  translate-middle-y"><i
									class="fas fa-x"></i></span>
						</div>
					</div>
					<div class="top-menu ms-auto">
						<ul class="navbar-nav">
							<li class="nav-item mobile-search-icon">
								<a class="nav-link" href="#"><i class="fas fa-magnifying-glass"></i>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#" id="fullscreen-btn"><i class="fas fa-expand"></i>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#" id="nightmode-btn"><i class="fas fa-moon"></i>
								</a>
							</li>
							<li class="nav-item dropdown dropdown-large">
								<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#"
									data-bs-toggle="dropdown" aria-expanded="false"> <span class="alert-count">7</span>
									<i class="fas fa-bell"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a href="javascript:void(0);">
										<div class="msg-header">
											<p class="top-header-title">Notifications</p>
											<p class="top-header-clear ms-auto">Marks all as read</p>
										</div>
									</a>
									<div class="top-notifications-list">
										<a class="dropdown-item" href="javascript:void(0);">
											<div class="d-flex align-items-center">
												<div class="notify bg-light-primary text-primary"><i
														class="fa fa-bell"></i>
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-username">New Orders<span
															class="msg-time float-end">14
															Min ago</span></h6>
													<p class="msg-detail">50 new orders received</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:void(0);">
											<div class="d-flex align-items-center">
												<div class="notify bg-light-primary text-primary"><i
														class="fa fa-bell"></i>
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-username">New Customers<span
															class="msg-time float-end">03 Sec ago</span></h6>
													<p class="msg-detail">50 new customers registered</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:void(0);">
											<div class="d-flex align-items-center">
												<div class="notify bg-light-primary text-primary"><i
														class="fa fa-bell"></i>
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-username">Orders<span class="msg-time float-end">14
															Min
															ago</span></h6>
													<p class="msg-detail">50 orders shipped</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:void(0);">
											<div class="d-flex align-items-center">
												<div class="notify bg-light-primary text-primary"><i
														class="fa fa-bell"></i>
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-username">Stock Alert<span
															class="msg-time float-end">14
															Min ago</span></h6>
													<p class="msg-detail">30 products out of stock</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:void(0);">
											<div class="d-flex align-items-center">
												<div class="notify bg-light-primary text-primary"><i
														class="fa fa-bell"></i>
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-username">New Comments<span
															class="msg-time float-end">14
															Min ago</span></h6>
													<p class="msg-detail">50 new comments</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:void(0);">
											<div class="d-flex align-items-center">
												<div class="notify bg-light-primary text-primary"><i
														class="fa fa-bell"></i>
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-username">New Orders<span
															class="msg-time float-end">14
															Min ago</span></h6>
													<p class="msg-detail">50 new orders received</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:void(0);">
											<div class="d-flex align-items-center">
												<div class="notify bg-light-primary text-primary"><i
														class="fa fa-bell"></i>
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-username">New Customers<span
															class="msg-time float-end">03 Sec ago</span></h6>
													<p class="msg-detail">50 new customers registered</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:void(0);">
											<div class="d-flex align-items-center">
												<div class="notify bg-light-primary text-primary"><i
														class="fa fa-bell"></i>
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-username">Orders<span class="msg-time float-end">14
															Min
															ago</span></h6>
													<p class="msg-detail">50 orders shipped</p>
												</div>
											</div>
										</a>
									</div>
									<a href="javascript:void(0);">
										<div class="text-center msg-footer">View All Notifications</div>
									</a>
								</div>
							</li>
							<li class="nav-item dropdown dropdown-large">
								<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#"
									data-bs-toggle="dropdown" aria-expanded="false"> <span class="alert-count">5</span>
									<i class="fas fa-message"></i>

								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a href="javascript:void(0);">
										<div class="msg-header">
											<p class="top-header-title">Messages</p>
											<p class="top-header-clear ms-auto">Marks all as read</p>
										</div>
									</a>
									<div class="top-message-list">
										<a class="dropdown-item" href="javascript:void(0);">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="assets/images/users/avater-1.png" class="message-avatar"
														alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-username">John Deo <span class="msg-time float-end">3
															min
															ago</span></h6>
													<p class="msg-detail">Please check your mail!!</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:void(0);">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="assets/images/users/avater-2.png" class="message-avatar"
														alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-username">Sarah Smith <span
															class="msg-time float-end">30
															sec ago</span></h6>
													<p class="msg-detail">Your payment invoice is generated</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:void(0);">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="assets/images/users/avater-3.png" class="message-avatar"
														alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-username">Lina Smith <span
															class="msg-time float-end">4
															min ago</span></h6>
													<p class="msg-detail">Client Requirements!!!</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:void(0);">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="assets/images/users/avater-4.png" class="message-avatar"
														alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-username">John Deo <span class="msg-time float-end">3
															min
															ago</span></h6>
													<p class="msg-detail">Please check your mail!!</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:void(0);">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="assets/images/users/avater-5.png" class="message-avatar"
														alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-username">Sarah Smith <span
															class="msg-time float-end">30
															sec ago</span></h6>
													<p class="msg-detail">Your payment invoice is generated</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:void(0);">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="assets/images/users/avater-6.png" class="message-avatar"
														alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-username">Lina Smith <span
															class="msg-time float-end">4
															min ago</span></h6>
													<p class="msg-detail">Client Requirements!!!</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:void(0);">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="assets/images/users/avater-7.png" class="message-avatar"
														alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-username">John Deo <span class="msg-time float-end">3
															min
															ago</span></h6>
													<p class="msg-detail">Please check your mail!!</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:void(0);">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="assets/images/users/avater-8.png" class="message-avatar"
														alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-username">Sarah Smith <span
															class="msg-time float-end">30
															sec ago</span></h6>
													<p class="msg-detail">Your payment invoice is generated</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:void(0);">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="assets/images/users/avater-9.png" class="message-avatar"
														alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-username">Lina Smith <span
															class="msg-time float-end">4
															min ago</span></h6>
													<p class="msg-detail">Client Requirements!!!</p>
												</div>
											</div>
										</a>
									</div>
									<a href="javascript:void(0);">
										<div class="text-center msg-footer">View All Messages</div>
									</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="account-box dropdown">
						<a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#"
							data-bs-toggle="dropdown" aria-expanded="false">
							<img src="assets/images/users/avater-1.png" class="user-img" alt="user avatar">
							<div class="user-info ps-3">
								<p class="user-name">John Doe</p>
								<p class="designation">Admin</p>
							</div>
						</a>
						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item" href="javascript:void(0);"><i
										class="fa fa-user m-1"></i><span>Profile</span></a>
							</li>
							<li><a class="dropdown-item" href="javascript:void(0);"><i
										class="fa fa-gear m-1"></i><span>Settings</span></a>
							</li>
							<li><a class="dropdown-item" href="javascript:void(0);"><i
										class="fa fa-bolt m-1"></i><span>Activities</span></a>
							</li>
							<li>
								<div class="dropdown-divider mb-0"></div>
							</li>
							<li><a class="dropdown-item" href="javascript:void(0);"><i
										class="fas fa-right-from-bracket m-1"></i><span>Logout</span></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!--header top end-->

		<!--start main content -->
		<div class="main-content">
			<!--breadcrumb start-->
			<div class="page-title">
				<div class="row">
					<div class="col-6">
						<h3>Product Details</h3>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html">
									<i class="fa fa-home"></i>
								</a></li>
							<li class="breadcrumb-item">eCommerce</li>
							<li class="breadcrumb-item active">Product Details</li>
						</ol>
					</div>
				</div>
			</div>
			<!--breadcrumb end-->
			<div class="page-content">
				<div class="card">
					<div class="row g-0">
						<div class="col-md-4 border-end">
							<img src="assets/images/products/13.png" class="img-fluid" alt="product">
							<div class="row mb-3 row-cols-auto g-2 justify-content-center mt-3">
								<div class="col"><img src="assets/images/products/12.png" width="70"
										class="border rounded cursor-pointer" alt=""></div>
								<div class="col"><img src="assets/images/products/11.png" width="70"
										class="border rounded cursor-pointer" alt=""></div>
								<div class="col"><img src="assets/images/products/14.png" width="70"
										class="border rounded cursor-pointer" alt=""></div>
								<div class="col"><img src="assets/images/products/15.png" width="70"
										class="border rounded cursor-pointer" alt=""></div>
							</div>
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h4 class="card-title">Ella Everyday Tote</h4>
								<div class="d-flex gap-3 py-3">
									<div class="cursor-pointer">
										<i class="fa fa-star text-warning"></i>
										<i class="fa fa-star text-warning"></i>
										<i class="fa fa-star text-warning"></i>
										<i class="fa fa-star text-warning"></i>
										<i class="fa fa-star text-secondary"></i>
									</div>
									<div>142 reviews</div>
									<div class="text-success"><i class="fa fa-cart-shopping align-middle"></i> 134
										orders</div>
								</div>
								<div class="mb-3">
									<span class="price h4">$149.00</span>
									<span class="text-muted">/per kg</span>
								</div>
								<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, magni? Vitae ea in
									reprehenderit consequatur ratione neque ducimus culpa, veritatis mollitia totam
									incidunt repellat exercitationem beatae quos porro ullam autem.</p>
								<dl class="row">
									<dt class="col-sm-3">Model#</dt>
									<dd class="col-sm-9">OX-1000</dd>

									<dt class="col-sm-3">Color</dt>
									<dd class="col-sm-9">Gold</dd>

									<dt class="col-sm-3">Delivery</dt>
									<dd class="col-sm-9">Russia, USA, and Europe </dd>
								</dl>
								<hr>
								<div class="row row-cols-auto align-items-center">
									<div class="col-12 col-md-4">
										<label class="form-label">Quantity</label>
										<div class="input-group input-spinner">
											<button class="btn btn-white" type="button" id="button-plus"> + </button>
											<input type="text" class="form-control" value="1">
											<button class="btn btn-white" type="button" id="button-minus"> − </button>
										</div>
									</div>
									<div class="col-12 col-md-4">
										<label class="form-label">Select size</label>
										<div class="">
											<label class="form-check form-check-inline">
												<input type="radio" class="form-check-input" checked>
												<span class="form-check-label">Small</span>
											</label>
											<label class="form-check form-check-inline">
												<input type="radio" class="form-check-input" checked>
												<span class="form-check-label">Medium</span>
											</label>

											<label class="form-check form-check-inline">
												<input type="radio" class="form-check-input" checked>
												<span class="form-check-label">Large</span>
											</label>
										</div>
									</div>
									<div class="col-12 col-md-4">
										<label class="form-label">Select Color</label>
										<div class="color-indigators d-flex align-items-center gap-2">
											<div class="color-indigator-item bg-primary"></div>
											<div class="color-indigator-item bg-danger"></div>
											<div class="color-indigator-item bg-success"></div>
											<div class="color-indigator-item bg-warning"></div>
										</div>
									</div>
								</div>
								<div class="mt-4">
									<a href="#" class="btn btn-primary">Buy Now</a>
									<a href="#" class="btn btn-outline-primary"><span class="text">Add to cart</span> <i
											class="fa fa-cart-shopping"></i></a>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="card-body">
						<ul class="nav nav-tabs nav-primary mb-0" role="tablist">
							<li class="nav-item" role="presentation">
								<a class="nav-link active" data-bs-toggle="tab" href="#primaryhome" role="tab"
									aria-selected="true">
									<div class="d-flex align-items-center">
										<div class="tab-icon"><i class="fa fa-comment me-1"></i>
										</div>
										<div class="tab-title"> Product Description </div>
									</div>
								</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" data-bs-toggle="tab" href="#primaryprofile" role="tab"
									aria-selected="false">
									<div class="d-flex align-items-center">
										<div class="tab-icon"><i class="fa fa-bookmark font-18 me-1"></i>
										</div>
										<div class="tab-title">Tags</div>
									</div>
								</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" data-bs-toggle="tab" href="#primarycontact" role="tab"
									aria-selected="false">
									<div class="d-flex align-items-center">
										<div class="tab-icon"><i class="fa fa-star font-18 me-1"></i>
										</div>
										<div class="tab-title">Reviews</div>
									</div>
								</a>
							</li>
						</ul>
						<div class="tab-content pt-3">
							<div class="tab-pane fade show active" id="primaryhome" role="tabpanel">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nobis iusto modi
									praesentium eligendi illum facilis earum delectus molestiae perferendis placeat
									laboriosam a fuga repudiandae, minus, error architecto voluptatem saepe!</p>
							</div>
							<div class="tab-pane fade" id="primaryprofile" role="tabpanel">
								<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem incidunt iste quod?
									Aspernatur eveniet eum aliquam, assumenda in vero pariatur..</p>
							</div>
							<div class="tab-pane fade" id="primarycontact" role="tabpanel">
								<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam cumque aperiam modi
									culpa aliquam eveniet earum ut explicabo mollitia illum commodi facere rerum
									voluptates illo error, corporis quaerat sint nulla molestias. Enim, aperiam minima
									non repudiandae autem sunt natus incidunt deleniti, deserunt nam cupiditate itaque,
									dolores temporibus necessitatibus quas? Vel exercitationem non facere, dolor
									mollitia perspiciatis quaerat consequatur ullam cum! Esse, harum nesciunt odio
									perspiciatis, soluta ad est alias temporibus culpa,
								</p>
							</div>
						</div>
					</div>

				</div>
				<h6 class="section-title">Related Product</h6>
				<div class="row">
					<div class="col-12 col-md-4">
						<div class="card">
							<div class="row g-0">
								<div class="col-md-4">
									<img src="assets/images/products/16.png" class="img-fluid" alt="product">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h6 class="card-title">Leather Sofa</h6>
										<div class="cursor-pointer my-2">
											<i class="fa fa-star text-warning"></i>
											<i class="fa fa-star text-warning"></i>
											<i class="fa fa-star text-warning"></i>
											<i class="fa fa-star text-warning"></i>
											<i class="fa fa-star text-secondary"></i>
										</div>
										<div class="clearfix">
											<p class="mb-0 float-start fw-bold"><span
													class="me-2 text-decoration-line-through text-secondary">$290</span><span>$229</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="card">
							<div class="row g-0">
								<div class="col-md-4">
									<img src="assets/images/products/17.png" class="img-fluid" alt="product">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h6 class="card-title">Leather Sofa</h6>
										<div class="cursor-pointer my-2">
											<i class="fa fa-star text-warning"></i>
											<i class="fa fa-star text-warning"></i>
											<i class="fa fa-star text-warning"></i>
											<i class="fa fa-star text-warning"></i>
											<i class="fa fa-star text-warning"></i>
										</div>
										<div class="clearfix">
											<p class="mb-0 float-start fw-bold"><span
													class="me-2 text-decoration-line-through text-secondary">$170</span><span>$100</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="card">
							<div class="row g-0">
								<div class="col-md-4">
									<img src="assets/images/products/19.png" class="img-fluid" alt="product">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h6 class="card-title">Men Hand Watch</h6>
										<div class="cursor-pointer my-2">
											<i class="fa fa-star text-warning"></i>
											<i class="fa fa-star text-warning"></i>
											<i class="fa fa-star text-warning"></i>
											<i class="fa fa-star text-secondary"></i>
											<i class="fa fa-star text-secondary"></i>
										</div>
										<div class="clearfix">
											<p class="mb-0 float-start fw-bold"><span
													class="me-2 text-decoration-line-through text-secondary">$150</span><span>$120</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end main content -->
		<!--start sidebar overlay-->
		<div class="overlay sidebar-toggle-icon">
		</div>
		<!--end sidebar overlay-->

		<footer class="footer">
			<p class="mb-0">Copyright ©
				<script>document.write(new Date().getFullYear());</script>by <a href="http://www.bootstrapMB.com">bootstrapMB</a> | All right
				reserved.
			</p>
		</footer>
	</div>
	<!--main wrapper end-->

	<!--theme customizer start-->
	<div class="theme-customizer">
		<div class="handle"><i class="fa fa-gear"></i></div>
		<section class="theme-customizer-body">
			<div class="d-flex justify-content-between mb-3">
				<h6 class="mt-2">Theme Setting</h6>
				<button type="button" class="btn btn-light" id="closeThemeSetting"><i class="fa fa-close"></i></button>
			</div>
			<h4 class="title">RTL</h4>
			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" id="rtlCheckbox">
				<label class="form-check-label" for="rtlCheckbox">Enable RTL</label>
			</div>
			<hr>
			<h4 class="title">Dark Mode</h4>
			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" id="darkModeCheckbox">
				<label class="form-check-label" for="darkModeCheckbox">Enable Dark Mode</label>
			</div>
			<hr>
			<h4 class="title">Sidebar</h4>
			<div class="d-flex justify-content-between">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="themesidebar" id="themesidebarlight">
					<label class="form-check-label" for="themesidebarlight">Light</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="themesidebar" id="themesidebardark">
					<label class="form-check-label" for="themesidebardark">Dark</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="themesidebar" id="themesidebarprimary">
					<label class="form-check-label" for="themesidebarprimary">Primary</label>
				</div>
			</div>
			<hr>
			<h4 class="title">Theme Color</h4>
			<div class="row">
				<div class="col-3">
					<div class="indigator theme-1" data-id="theme-1"></div>
				</div>
				<div class="col-3">
					<div class="indigator theme-2" data-id="theme-2"></div>
				</div>
				<div class="col-3">
					<div class="indigator theme-3" data-id="theme-3"></div>
				</div>
				<div class="col-3">
					<div class="indigator theme-4" data-id="theme-4"></div>
				</div>
				<div class="col-3">
					<div class="indigator theme-5" data-id="theme-5"></div>
				</div>
				<div class="col-3">
					<div class="indigator theme-6" data-id="theme-6"></div>
				</div>
				<div class="col-3">
					<div class="indigator theme-7" data-id="theme-7"></div>
				</div>
				<div class="col-3">
					<div class="indigator theme-8" data-id="theme-8"></div>
				</div>
				<div class="col-3">
					<div class="indigator theme-9" data-id="theme-9"></div>
				</div>
				<div class="col-3">
					<div class="indigator theme-10" data-id="theme-10"></div>
				</div>
				<div class="col-3">
					<div class="indigator theme-11" data-id="theme-11"></div>
				</div>
				<div class="col-3">
					<div class="indigator theme-12" data-id="theme-12"></div>
				</div>
			</div>
			<hr>
			<button class="btn btn-primary w-100" id="resetSetting">Reset</button>
		</section>
	</div>
	<!--theme customizer end-->

	<!--javascript-->
	<script src="assets/lib/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="assets/lib/jquery/jquery.min.js"></script>
	<script src="assets/lib/metismenu/js/metisMenu.min.js"></script>
	<script src="assets/lib/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<script src="assets/js/main.js"></script>
</body>

</html>
